<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
        background: #555;
    }
    
    .content {
        max-width: 800px;
        margin: auto;
        background: white;
        padding: 10px;
    }
    </style>
      <title>Jayson's Blockchain Demo</title>
   
</head>
<body>
    <div class="content">

  <h1>My Blockchain Demo!</h1>
<p>
<p>
    <b>Create a transaction</b> 

  <form action="/create_transaction" method="POST">
    <input type="text" placeholder="From Account" name="fromAcct"> 
    <input type="text" placeholder="To Account" name="toAcct">
    <input type="text" placeholder="Amount" name="amount">
    <button type="submit">Create The Transaction</button>
  </form>
  <p></p>  <p></p>
  <b>List of Pending Transactions:</b>
  <p></p>
   <% for(var i=0; i<pending_transaction.length; i++) {%>
      <textarea rows="5" cols="90" readonly>
          Pending transaction # <%= i+1%> 
          From account:  <%= pending_transaction[i].sourceAcct %> 
          To account: <%= pending_transaction[i].targetAcct %>
          Ammount: <%= pending_transaction[i].amount %>
      </textarea>
      <br>
     
  <% } %>
  

<<<<<<< HEAD
<p>
    <b>Create a transaction</b> 
  <form action="/create_transaction" method="POST">
    <input type="text" placeholder="From Account" name="fromAcct"> 
    <input type="text" placeholder="To Account" name="toAcct">
    <input type="text" placeholder="Amount" name="amount">
    <button type="submit">Create The Transaction</button>
  </form>

=======
>>>>>>> dev
  <p></p>
      <b>Mine the blcok</b>
  <form action="/mine" method="POST"> 

      Adjust Mine Difficulty: <select name="mineDifficulty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>

      &nbsp;&nbsp;&nbsp;&nbsp; <input type="text" placeholder="Minder's Account" name="minerAcct">  <button type="submit">Mine the block</button>
  </form>

  <p></p>
      <b>Show the blcokchain</b>

  <form action="/showchain" method="POST"> 
     <button type="submit">Show me the blockchain</button>
  </form>

</div>
</body>
</html>